{% extends 'base.html' %}
{% load static %}


{% block headerTitle %} Company Feedback {% endblock headerTitle %}
{% block headerExplanation%} 
<div style="margin-right: 4rcap;">
Review and respond to feedback or complaints from Company
</div>
{% endblock headerExplanation%}
{% block pagename%} Company > Company Feedback {% endblock pagename  %}
{% block content %}


  <style>
    .feedback-header {
      background-color #1Ac3B3;
      color  white;
      padding: 40px 0;
      text-align: center;
      margin-bottom: 20px;
    }

    .list-group-item {
      border: none;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .list-group-item:hover {
      transform: translateY(-5px);
    }

    .list-group-item-action {
      color #1Ac3B3;
      text-decoration: none;
    }

    .list-group-item-action:hover {
      color: #159d8d;
    }
  </style>

{% comment %} 
  <div class="feedback-header">
    {% comment %} <div class="container">
      <h1>User Feedback</h1>
      <p>Review and respond to feedback or complaints from users</p>
    </div> {% endcomment %}{% comment %}
  </div>
  <div class="container">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Feedback 1</a><br>
      <a href="#" class="list-group-item list-group-item-action">Feedback 2</a><br>
      <a href="#" class="list-group-item list-group-item-action">Feedback 3</a>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script> 

  {% endcomment %}


  <div class=" col-md-8 " style="margin-left: 230px; margin-top: 50px;">
    <div class="card table-card">
        <div class="card-header">
            <h5>Users</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
  <div class="container">
   <div class="card-block">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    {% comment %}
                    <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                <input type="checkbox" value="">
                                <span class="cr">
                    <i class="cr-icon fa fa-check txt-default"></i>
                </span>
                            </label>
                        </div>
                    </div>
                    {% endcomment %}
                    Author
                </th>
                <th>Company Name</th>
                <th>Feedback</th>
                {% comment %} <th class="text-right">Status</th> {% endcomment %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {% comment %} <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                <input type="checkbox" value="">
                                <span class="cr">
                        <i class="cr-icon fa fa-check txt-default"></i>
                    </span>
                            </label>
                        </div>
                    </div> {% endcomment %}
                    <div class="d-inline-block align-middle">
                        <img src="{% static 'assets/images/avatar-4.jpg' %}"
                             alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                            <h6>John Deo</h6>
                            <p class="text-muted m-b-0">HR Manager</p>
                        </div>
                    </div>
                </td>
                <td>Able Pro</td>
                <td>Its a good app for job Providers, I reccomended it to my friends....<a href="" style="color: blue;">see more</a></td>
                {% comment %} <td class="text-right"><label class="label label-danger">Rejected</label></td> 
                {% endcomment %}
                
            </tr>
            <tr>
                <td>
                    {% comment %} <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                <input type="checkbox" value="">
                                <span class="cr">
                                   <i class="cr-icon fa fa-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                    </div> {% endcomment %}
                    <div class="d-inline-block align-middle">
                        <img src="{% static 'assets/images/avatar-5.jpg' %}"
                             alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                            <h6>Jenifer Vintage</h6>
                            <p class="text-muted m-b-0">HR Manager</p>
                        </div>
                    </div>
                </td>
                <td>Mashable</td>
                <td>Learnbuds jobportal helped to reach my company to large group of....<a href="" style="color: blue;">see more</a></td>
                {% comment %} <td class="text-right"><label class="label label-primary">Resume
                    Viewed</label></td> {% endcomment %}
            </tr>
            <tr>
                <td>
                    {% comment %} <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                <input type="checkbox" value="">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check txt-default"></i>
                                </span>
                            </label>
                        </div>  {% endcomment %}
                    <div class="d-inline-block align-middle">
                        <img src="{% static 'assets/images/avatar-3.jpg' %}"
                             alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                            <h6>William Jem</h6>
                            <p class="text-muted m-b-0">HR Manager</p>
                        </div>
                    </div>
                </td>
                <td>Flatable</td>
                <td>Highly reccomended !!!</td>
                {% comment %} <td class="text-right"><label class="label label-primary">Interview
                    scheduled</label></td> {% endcomment %}
            </tr>
            <tr>
                <td>
                    {% comment %} <div class="chk-option">
                        <div class="checkbox-fade fade-in-primary">
                            <label class="check-task">
                                <input type="checkbox" value="">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check txt-default"></i>
                                </span>
                            </label>
                        </div>
                    </div> {% endcomment %}
                    <div class="d-inline-block align-middle">
                        <img src="{% static 'assets/images/avatar-2.jpg' %}"
                             alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                            <h6>David Jones</h6>
                            <p class="text-muted m-b-0">HR Manager</p>
                        </div>
                    </div>
                </td>
                <td>Fresher</td>
                <td>My Experience is average, job applications are comparitively less .....<a href="" style="color: blue;">see more</a></td>
                {% comment %} <td class="text-right"><label
                        class="label label-success">Shortlisted</label></td> {% endcomment %}
            </tr>
            </tbody>
        </table>
        {% comment %} <div class="text-right m-r-20">
            <a href="#!" class=" b-b-primary text-primary">View all Users</a>
        </div> {% endcomment %}
    </div>
    </div>
    </div>
    </div>
  


{% endblock %}