<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <center>
        <div class="form-floating">
                        <form action="." method="post" class="custom-form mt-lg-4 mt-2" role="form">
            {% csrf_token %}
            {{form.as_p}}.{{ user.get_username }}
            <button type="submit" class="btn custom-btn smoothscroll me-3">Request for reset</button>
        </formaction>
                        </form>
        </div>
            </center>

</body>
</html>