<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <center>
        <h2>A link for reset your password has been sent to your Email</h2>
         <br><br>
          <button type="submit"  onclick="window.location.href='https://www.gmail.com';"
          class="btn custom-btn smoothscroll me-3">Go to gmail</button>
                  &nbsp;
        <button type="submit"  onclick="window.location.href='/login'"
                  class="btn custom-btn smoothscroll me-3">login</button>

</center>

</body>
</html>